body{
    margin:0;padding: 0;
    font-family: 'Montserrat';
}
/*Header*/
.headermain{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;align-items: center;

}
.compname{
    font-size: 1.5rem;
    font-weight: 900;
    transform: translateX(30px);
}
.logonameheader{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
}
.linkdiv{
    width: 50%;
    display: flex;
    justify-content: center;align-items: center;
}
.links{
    width: 150px;
    height:45px;
    border-radius: 40px;
    border: 3px solid rgba(0, 125, 254, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(0, 125, 254, 1);
    font-weight: 600;
}
.links:hover{
    background-color: rgba(0, 125, 254, 1);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

/*Page 1*/
.page1{
    width: 100%;
    height: 460px;
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1inside{
    width: 90%;
    height: 420px;
    background-color: rgba(75, 129, 205, 1);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1firsthalf{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1secondhalf{
    width: 45%;
    display: flex;justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page1image{
    width:500px;
}
.head{
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    color: rgb(0, 0, 0);
}
.underhead{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top:20px ;
    text-align: center;
}
.buttononepage1,.buttononepage2{
    width: 200px;
    background-color: white;
    height: 45px;
    border-radius: 40px;
    display: flex;justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid transparent;
}
.buttononepage1:hover,.buttononepage2:hover{
    border: 3px solid white;
    background-color: transparent;
    transition: 0.3s;
    color: white;
}
.buttondivpage1{
    margin-top: 20px;
    display: flex;justify-content: center;align-items: center;
}

/*Page 2*/

.page2{
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2one,.page2two{
    width: 43%;
    height: 420px;
    border-radius: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.page2one,.page2two{
    background-color: rgba(245, 144, 95, 1);
    display: flex;justify-content: center;align-items: center;flex-direction: column;
}
.page2two{
    background-color: rgba(240, 208, 104, 1);
}
.first{
    width: 80%;
    height: 40%;
    /* background-color: aliceblue; */
    display: flex;justify-content: space-around;align-items: center;
}
.second{
    width: 80%;
    height: 30%;
    
    display: flex;justify-content: center;align-items: center;
    color:rgba(55, 55, 55, 1);
    font-size: 1.4rem;
    font-weight: 600;
}
.third{
    width: 80%;
    height: 20%;
    display: flex;justify-content: center;align-items: center;
}
.pg21img{
    width: 150px;
}
.headingpg21{
    font-size: 2rem;
    width: 50%;
    font-weight: 700;
}
.buttonpg21{
    width: 250px;
    height: 60px;
    background-color: aliceblue;
    border-radius: 40px;
    display: flex;justify-content: center;align-items: center;
    font-weight: 600;

}

/*Page 3*/
.page3{
    margin-top: 20px;
}
.page3inside{
    background-color: rgba(191, 218, 239, 1);
}
.underheadpage3{
    text-align: left;
}

/*page4*/
.page4{
    margin-top: 20px;
}
.page4inside{
    background-color: rgba(93, 180, 153, 1);
}
.pg4img{
    width: 300px;
}

/*Footer*/
.footer{
    width: 100%;
    height: 460px;
    background-color: rgba(67, 80, 88, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.footer2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerimage{
    width: 300px;
}
.footerlinks{
    width: 150px;
    height: 40px;
}
.footer2{
    display: flex;justify-content: center;align-items: center;flex-direction: column;
}
.footerlinks{
    width: 220px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;justify-content: center;align-items: center;
    border-radius: 40px;
    color: white;
    font-weight: 600;
}
.footerlinks:hover{
    background-color: rgb(123, 134, 141);
    color: white;
    transition: 0.3s;
}


/*take class form*/
.formbody{
    background-color: rgba(116, 110, 255, 1);
    height: 100vh;
    overflow: hidden;
}
.linksclasspost{
    width: 150px;
    height:45px;
    border-radius: 40px;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.maindiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firsthalfpostclass ,.secondhalfpostclass{
    width: 50%;
    height: 89%;
    
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
}
.mainform{
    height: 80%;
    width: 500px;
    background-color: aliceblue;
    border-radius: 40px;
    transform: translateY(-30px);
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
}
.inputs{
    width: 85%;
    padding-left: 5%;
    padding-right: 2%;
    height: 55px;
    margin-top: 10px;
    margin-bottom:10px ;
    border: none;
    border-radius: 15px;
    background-color: rgb(232, 232, 232);
    color: rgba(143, 143, 143, 1);
    font-weight: 700;
    font-size: 0.9rem;
    border: 1px solid grey;

}
.submitbutton{
    width: 40%;
    height: 50px;
    border: none;
    background-color: rgba(116, 110, 255, 1);
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}

/*notes page*/
.page1notes{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 122, 55);
    display: flex;justify-content: center;align-items: center;
}
.headernotes{
    position: absolute;
}
.linksnotes{
    border: 3px solid white;
    color: white;
}
.firstnotes{
    width: 35%;
    height: 100%;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    display: flex;justify-content: flex-end;align-items: center;
}
.secondnotes{
    width: 65%;
    height: 100%;
    display: flex;justify-content: center;align-items: center;
}
.notesimage{
    width: 800px;
}
.page2notes{
    width: 100%;
    height: 120vh;
    border-radius: 40px 40px 0 0;
    background-color: white;
    transform: translateY(-50px);
    display: flex;
    justify-content: space-around;align-items: center;
    flex-wrap: wrap;
}
.csediv{
    width: 29%;
    height: 400px;
    background-color: rgb(205, 205, 205);
    transform: translateY(30px);
    border-radius: 40px;
    display: flex;justify-content: space-around;align-items: center;
    flex-direction: column;
    font-size: 1.9rem;
    font-weight: 700;
}
select{
    width: 100%;
}
.csediv:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
    scale: 0.9;
}
.textnotes{
    transform: translateY(-30px);
    text-align: center;
}
.firstsem{
    background-color: rgba(252, 99, 131, 1);
}
.infotech{
    background-color: rgba(116, 110, 255, 1);
}
.cse{
    background-color: rgba(234, 160, 52, 1);
}
.electrical{
    background-color: rgba(80, 198, 39, 1);
}
.electronics{
    background-color: rgba(255, 225, 119, 1);
}
.mech{
    background-color: rgba(39, 221, 169, 1);
}